{% extends 'base.html' %}

{% block title %}Create A Page {% endblock title %}
{% block content %}
     {% if mode == 1 %}
    <script>
        toastr.success('Your Password Has Been Changed')
    </script>
    {% elif mode == 2 %}
    <script>
        toastr.error('Your Old Password Is Wrong')
    </script>
    {% elif mode == 3 %}
    <script>
        toastr.error('The New and Cofirm New fields aren\'t the same')
    </script>
    {% endif %}
 
    <h1 class="font-semibold font-mono text-2xl text-center">Change Your Password Now</h1>
    <!-- component -->
 <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
 
        <form method="POST" action="" class="my-10">
            {% csrf_token %}
            
            <div class="flex flex-col space-y-5">
                <label for="oldpassword">
                    <p class="font-medium text-slate-700 pb-2">Old Password</p>
                    <input  name="oldpassword" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="Old Password" required>
                </label>
                <label for="newpassword">
                    <p class="font-medium text-slate-700 pb-2">New Password</p>
                    <input  name="newpassword" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="New Password" required>
                </label><label for="confirmnewpassword">
                    <p class="font-medium text-slate-700 pb-2">Confirm New Password</p>
                    <input  name="confpassword" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="Confirm New Password" required>
                </label>
                <button class="w-full py-3 font-medium text-white bg-yellow-500 hover:bg-yellow-700 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                     
                      
                      <span>Reset password</span>
                </button>
         
            </div>
        </form>
    </div> 
{% endblock %}